<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<h2>Total count in user table is <%= count %></h2>
<table>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    <% for (let user of users) { %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td>
                <form method="get" action="/user/<%= user.id %>/edit">
                    <button type="submit">Edit Username</button>
                </form>
            </td>
        </tr>
    <% } %>
</table>
</body>
</html>
